* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
  
.background-image {
    background-image: url(Images/web.jpeg);
    background-position: center;
    margin-top: 5rem;
}

h1 {
    font-size: 3rem;
    color: #FFEFE8;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

a{
    text-decoration: none;
    color: #FFEFE8;
    font-size: 2rem; 
}

a:hover { 
    color: #637E76;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
    border-radius: 25px;
    width: 50%;
    margin: auto;
}

.projects{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .container {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

  @media only screen and (max-width: 600px){

    h1 {
        font-size: 2rem;
        color: #FFEFE8;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    a{
        font-size: 1.5rem; 
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.4);
        border-radius: 20px;
        width: 90%;
        margin: auto;
    }
  }

